---
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { ModeToggle } from '@/components/ui/mode-toggle'
import { NAV_LINKS, SITE } from '@/consts'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.webp'
import { buttonVariants } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
import { cn } from '@/lib/utils'
---

<header
  class="sticky top-0 z-10 bg-background/50 backdrop-blur-md border-b"
  transition:persist
>
  <!-- Header Bar  -->
  <div class="px-4">
    <div class="flex flex-wrap items-center justify-between gap-4 py-2">
      <!-- Left Side -->
      <span class="flex flex-row items-center gap-6">
        <MobileMenu client:load transition:persist />
        <Link
          href="/"
          class="flex flex-shrink-0 items-center p-2 gap-2 text-xl font-semibold transition-colors duration-300 rounded-md group hover:bg-secondary/50"
        >
          <Image src={logo} alt="Logo" class="size-8 rounded-md transition-transform group-hover:scale-110 group-hover:rotate-6" loading={"eager"} />
          {SITE.TITLE}
        </Link>
        <nav class="hidden items-center gap-4 text-sm md:flex">
            {
              NAV_LINKS.map((item) => (
                <Link
                  href={item.href}
                  class="capitalize text-foreground/60 transition-colors hover:text-foreground/80"
                >
                  {item.label}
                </Link>
              ))
            }
        </nav>
      </span>
      <!-- Right Side -->
      <div class="flex items-center gap-2 md:gap-4">
        <Link
          href="/collection"
          class={cn(buttonVariants({ variant: 'outline' }), 'gap-2')}
        >
          <Icon name="lucide:calendar" class='size-4' />
          <span class="hidden md:inline">
            Find By Month
          </span>
        </Link>
        <Link
          href="/games"
          class={cn(buttonVariants({ variant: 'outline' }), 'gap-2')}
        >
          <Icon name="lucide:gamepad" class='size-4' />
          <span class="hidden md:inline">
            Find By Game
          </span>
        </Link>
        <ModeToggle client:load transition:persist />
      </div>
    </div>
  </div>
</header>
